BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80
AllowShortFunctionsOnASingleLine: Empty
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: false
SpaceBeforeAssignmentOperators: true
TabWidth: 4
